/* Estilos generales para el cuerpo de la página */
body {
  font-family: nunito, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  text-align: center;
}

/* Estilos para la página de error */
.error-page {
  color: black;
}

/* Estilos para el título de la página de error */
.error-page h1 {
  font-size: 6em;
  margin: 0;
  color: black;
}

/* Estilos para el párrafo de la página de error */
.error-page p {
  font-size: 1.3em;
  margin: 0;
}

/* Estilos para el enlace de la página de error */
.error-page a {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background-color: orange;
  border-radius: 45px;
  font-weight: bold;
}

/* Estilos para la imagen de error */
.error-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

/* Estilos para la imagen dentro del contenedor de imagen de error */
.error-image img {
  max-width: 100%;
  height: auto;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  body {
      padding: 30px;
      flex-direction: row;
      text-align: left;
  }

  .error-page {
      margin-right: 10px;
  }

  .error-page h1 {
      font-size: 6em;
  }

  .error-page p {
      font-size: 1em;
      text-align: center;
  }

  .error-page a {
      padding: 10px 15px;
      font-size: 1em;
  }
}